#signin,
#login {
    color: #2196f3;
}

#signin:hover,
#login:hover {
    color: aliceblue;
}

.myfixednavheight {
    height: 20vh;
}

#parallax {
    /* The image used */
    background-image: url(../images/homeone.jpg);
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#call_image {
    background-image: url(../images/caller.jpg);
    height: 300px;
    background-size: cover;
}

#email_image {
    background-image: url(../images/email.jpg);
    height: 300px;
    background-size: cover;
}

#ticket_image {
    background-image: url(../images/ticket.jpg);
    height: 300px;
    background-size: cover;
}

#call_text {
    height: 300px;
}

.background_login {
    /* The image used */
    background-image: url(../images/woman-in-black-blazer-sitting-on-black-office-chair-3727464.jpg);
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.background_signin {
    /* The image used */
    background-image: url(../images/abstract-art-artistic-background-1103970.jpg);
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.search_box {
    background-image: url("../images/search-512.png");
    background-size: 24px;
    color: black;
    font-weight: bold;
    text-decoration-color: black;
    width: 100%;
    padding: 12px;
    height: 50px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

.btn_gleen:hover {
    background-color: rebeccapurple;
    color: white;
}

::-webkit-input-placeholder {
    color: black;
}

:-ms-input-placeholder {
    color: black;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1;
    /* Firefox */
}

#questionschat:focus {
    border-style: none;
}