#signin,
#login {
    color: #2196f3;
}

#signin:hover,
#login:hover {
    color: aliceblue;
}

tab:active {
    background-color: yellow;
}

.myfixednavheight {
    height: 20vh;
}

#parallax {
    /* The image used */
    background-image: url(../images/interior-of-office-building-325229.jpg);
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background_login {
    /* The image used */
    background-image: url(../images/join-us-scrabbles-letters-3127880.jpg);
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: ;
}

.background_signin {
    /* The image used */
    background-image: url(../images/interior-of-office-building-325229.jpg);
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.search_box {
    background-image: url("../images/search-512.png");
    background-size: 24px;
    color: black;
    font-weight: bold;
    text-decoration-color: black;
    width: 100%;
    padding: 12px;
    height: 50px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}